DATABASE_URL="postgresql://postgres:ISCSpain14012000@localhost:5433/protectinfo"
JWT_PRIVATE_KEY_PATH="./config/jwtRS256.key"
JWT_PUBLIC_KEY_PATH="./config/jwtRS256.key.pub"
TLS_KEY_PATH="./config/dev-tls.key"
TLS_CERT_PATH="./config/dev-tls.crt"
SERVER_KEK_SECRET="replace-with-32-byte-hex"
PORT=4000
COOKIE_DOMAIN="localhost"
NODE_ENV="development"
